@import "tailwindcss";

/* Required variables for Task 1 */
:root {
  --color-table-header: #deb5b5;
  --color-table-rows: #cdcdcd;
}

/* keep your Roboto config */
@theme {
  --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  html,
  body {
    font-family: var(--font-sans);
  }
}
